# Backend Foundation + Notebooks
# =========================================

# Data Fetching
requests==2.32.3

# Data Processing
# NOTE: Using 2.1.4 to stay compatible with Hopsworks
pandas==2.1.4
numpy==1.26.4

# Environment Variables
python-dotenv==1.1.0
pydantic==2.10.4

# Notebooks & EDA
jupyter==1.1.1
ipykernel==6.29.5
matplotlib==3.10.1
seaborn==0.13.2

# Feature Store (Latest)
hopsworks==4.7.*
pyarrow

# Machine Learning
scikit-learn==1.6.1
joblib==1.4.2
xgboost==2.1.4
lightgbm==4.6.0

# Deep Learning (PyTorch)
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0

# API Framework
fastapi==0.115.6
uvicorn==0.34.0
